---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Flight/Aviation - Sara's OSINT Resources">
  <article class="surface p-6 sm:p-10 prose prose-invert max-w-none">
    <h1 class="gradient-text mb-8 text-5xl font-bold">Flight/Aviation</h1>
    <div set:html={"<p><a href=\"https://www.pic2map.com/\" target=\"_blank\" rel=\"noopener noreferrer\">https://www.pic2map.com/<br></a>https://www.flightradar24.com/&nbsp;</p>"} />
  </article>
</BaseLayout>
